ansible==4.4.0
ansible-core==2.11.4
ansible-playbook-runner==0.1.2
ansible-runner==2.0.2
autopep8==1.5.7
boto==2.49.0
boto3==1.18.26
botocore==1.21.26
cffi==1.14.6
cryptography==3.4.7
docutils==0.17.1
Jinja2==3.0.1
jmespath==0.10.0
lockfile==0.12.2
MarkupSafe==2.0.1
packaging==21.0
pexpect==4.8.0
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.20
pyparsing==2.4.7
python-daemon==2.3.0
python-dateutil==2.8.2
PyYAML==5.4.1
resolvelib==0.5.4
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
urllib3==1.26.6
