<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Arnold">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ERP, CRM, etc. Business tools to help your organization grow.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="../static/images/olamerp.png">
    <!-- Page Title  -->
    <title>Expired Token | Olam ERP</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base-2/css/dashlite.css') }}">
    <link id="skin-default" rel="stylesheet" href="{{ url_for('static', filename='base-2/css/theme.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <style>
        .nk-error-head{
            font-size: 100px !important;
        }
    </style>
</head>

<body class="nk-body bg-white npc-default pg-error">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-xs mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                            <h1 class="nk-error-head">Token Expired</h1>                            
                            <p class="nk-error-text">Your token has expired. Kindly create your account again.</p>
                            <a href="{{url_for('main.choose_apps')}}" class="btn btn-lg btn-primary mt-2">Start here</a>
                        </div>
                    </div><!-- .nk-block -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='base-2/js/bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='base-2/js/scripts.js') }}"></script>

</html>