{% extends "base.html" %}

{% block content %}
<style>
    .bg-lighter {
        background-color: #ffff !important
    }

    header {
        min-height: auto !important;
    }
</style>

<body class="nk-body bg-white npc-landing ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <header class="header has-header-main-s1 bg-lighter" id="contact">
                {% include "header-3.html" %}
                <!-- main header @e -->
            </header>
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container wide-sm">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-lg wide-sm m-auto text-center">
                                        <div class="nk-block-head-content">
                                            <h2 class="nk-block-title fw-normal">Contact Us</h2>
                                            <div class="nk-block-des">
                                                <p>Thank you for your interest in our services. Please fill the form
                                                    below so that we can get back to you asap.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block mb-3">
                                        <div class="card card-bordered">
                                            <div class="card-inner">
                                                <form method="post" action="{{url_for('main.contact_us')}}"
                                                    class="form-contact">
                                                    {{form.hidden_tag()}}
                                                    <div class="row g-4">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.fname.label(class="form-label") }}
                                                                <div class="form-control-wrap">
                                                                    {% for error in form.fname.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                    {% endfor %}
                                                                    {{ form.fname(class="form-control form-control-lg",
                                                                    id="fname",
                                                                    placeholder="First name...") }}
                                                                </div>
                                                            </div>
                                                        </div><!-- .col -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.lname.label(class="form-label") }}
                                                                <div class="form-control-wrap">
                                                                    {% for error in form.lname.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                    {% endfor %}
                                                                    {{ form.lname(class="form-control form-control-lg",
                                                                    id="lname",
                                                                    placeholder="Last name...") }}
                                                                </div>
                                                            </div>
                                                        </div><!-- .col -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.org.label(class="form-label") }}
                                                                <div class="form-control-wrap">
                                                                    {% for error in form.org.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                    {% endfor %}
                                                                    {{ form.org(class="form-control form-control-lg",
                                                                    id="org",
                                                                    placeholder="Organization name...") }}
                                                                </div>
                                                            </div>
                                                        </div><!-- .col -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.email.label(class="form-label") }}
                                                                <div class="form-control-wrap">
                                                                    {% for error in form.email.errors %}
                                                                    <span style="color: red;">[{{ error }}]</span>
                                                                    {% endfor %}
                                                                    {{ form.email(class="form-control form-control-lg",
                                                                    id="email",
                                                                    placeholder="Email address...") }}
                                                                </div>
                                                            </div>
                                                        </div><!-- .col -->
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                {{ form.details.label(class="form-label") }}
                                                                <p class="text-soft">Describe how you would like to use
                                                                    Olam ERP.</p>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-editor-custom">
                                                                        {% for error in form.details.errors %}
                                                                        <span style="color: red;">[{{ error }}]</span>
                                                                        {% endfor %}
                                                                        {{ form.details(class="form-control
                                                                        form-control-lg",
                                                                        id="details",
                                                                        placeholder="Write your message here...") }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- .col -->
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <span><em class="icon ni ni-info"></em>&nbsp;We
                                                                    will handle your personal data as described in our
                                                                    <a href="#">Privacy Policy</a>&nbsp;to answer your
                                                                    question and provide information about our products
                                                                    and services.</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            {{form.submit(class="btn btn-primary")}}                                                            
                                                        </div><!-- .col -->
                                                    </div><!-- .row -->
                                                </form><!-- .form-contact -->
                                            </div><!-- .card-inner -->
                                        </div><!-- .card -->
                                    </div><!-- .nk-block -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
            <!-- footer @s -->
            {% include "footer.html" %}
            <!-- footer @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    {% include "scripts.html" %}
</body>
{% endblock %}