{% extends "base-2.html" %}

{% block getting_started %}
<style>
    .bordered-focus {
        border-color: #6576ff;
        box-shadow: 0 0 0 3px rgb(101 118 255 / 10%);
    }

    #dv_start_now {
        display: none;
    }

    #dv_loading {
        display: none;
    }

    .start-now {
        width: 100%;
    }

    .form-text-hint {
        display: none;
        padding-top: 5px;
    }

    #dv_domain {
        display: none;
    }
</style>
{% if title == 'Getting Started | Olam ERP' %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">Manage Your Databases</h2>
                </div>
            </div>
        </div>
        <div class="nk-block nk-block-lg">
            <div class="card card-preview">
                <div class="card-inner">
                    <div class="alert alert-primary" role="alert" style="text-align: center;">
                        {{message}}&nbsp;<a href="{{url_for('main.choose_apps')}}" class="alert-link">Start
                            with
                            a New Database Instance</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer-2.html" %}
</div>
{% endif %}
{% if title == 'New Database | Olam ERP' %}
<div style="{% if errors %} display: none {% endif %}" id="dv_new_database" class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">Choose your Apps</h2>
                </div>
            </div>
        </div>
        {% for moduleCategory in moduleCategories %}
        <div class="nk-block nk-block-lg">
            <h5 class="title nk-block-title">{{moduleCategory.name}}</h5>
            <div class="row g-gs">
                {% for module in modules %}
                {% if module.category_id == moduleCategory.id %}
                <div class="col-lg-4">
                    <div id="dv-{{module.id}}" href="#" class="card card-bordered text-soft dv-module">
                        <div class="card-inner">
                            <div class="align-center justify-between">
                                <div class="g">
                                    <h6 id="title-{{module.id}}" class="title">{% if module.technical_name == 'crm'
                                        %}{{module.technical_name|upper}}{% else %}{{module.technical_name|title}}{%
                                        endif %}</h6>
                                    <p>{{module.summary}}</p>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input check" id="check-{{module.id}}">
                                    <label class="custom-control-label" id="price-{{module.monthly_price_kes}}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "footer-2.html" %}
</div>
<div style="{% if errors %} display: block; {% endif %}" id="dv_start_now" class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="components-preview wide-md mx-auto">
            <div class="nk-block-head nk-block-head-lg wide-sm">
                <div class="nk-block-head-content">
                    <div class="nk-block-head-sub"><a class="back" href="#"><em
                                class="icon ni ni-arrow-left"></em><span>Change apps selection</span></a></div>
                    <h2 class="nk-block-title fw-normal">Olam ERP | Get Started</h2>
                </div>
            </div><!-- .nk-block-head -->
            <div class="nk-block nk-block-lg">
                <div class="card card-preview">
                    <div class="card-inner">
                        <div class="preview-block">
                            <form id="frm_setup" action="{{url_for('main.choose_apps')}}" method="POST">
                                {{form.hidden_tag()}}
                                <div class="row gy-4">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{form.name.label(class="form-label")}}
                                            <div class="form-control-wrap">
                                                <input class="required form-control" id="name" name="name"
                                                    placeholder="First and Last Name" type="text" value="" , required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{form.email.label(class="form-label")}}
                                            <div class="form-control-wrap">
                                                <input class="form-control" id="email" name="email" placeholder="Email"
                                                    type="text" value="" , required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{form.phonenumber.label(class="form-label")}}
                                            <div class="form-control-wrap">
                                                <input class="form-control" id="phneNumber" name="phonenumber"
                                                    placeholder="Phone Number" type="text" value="" , required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{form.companyname.label(class="form-label")}}
                                            <div class="form-control-wrap">
                                                <input class="form-control" id="txtcompany" name="companyname"
                                                    placeholder="Name of your company" type="text" value="", required>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="{% if domainerrors or subdomain %} display: block; {% else %} display: none; {% endif %}"
                                        id="dvDomainOutput" class="col-sm-6">
                                        <div class="form-group">
                                            {{form.domainoutput.label(class="form-label")}}
                                            <div class="form-control-wrap">
                                                <div style="{% if domainerrors %} display:block; {% endif %}"
                                                    class="form-text-hint"><span
                                                        class="overline-title">.olam-erp.com</span>
                                                </div>
                                                {{form.domainoutput(class="form-control", id="domainoutput")}}
                                                {% for error in form.domainoutput.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-gray alert-icon"><em
                                                class="icon ni ni-alert-circle"></em>By
                                            Clicking on <strong>Start Now</strong>,
                                            you accept our <a href="">Subscription Agreement</a> and <a href="">Privacy
                                                Policy</a></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <a href="#" class="back btn btn-wider btn-secondary">
                                                    <em class="icon ni ni-arrow-left"></em>
                                                    <span style="margin-left: 0%">Change apps selection</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                {{form.submit(class="btn btn-wider btn-primary start-now", )}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- .card-preview -->
            </div><!-- .nk-block -->
        </div><!-- .components-preview -->
    </div>
    <!-- footer @s -->
    {% include "footer-2.html" %}
    <!-- footer @e -->
</div>
<div id="dv_loading" class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="components-preview wide-md mx-auto">
            <div class="nk-block nk-block-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="title nk-block-title">Building your Olam apps</h4>
                        <p>We'll be ready shortly.
                        </p>
                    </div>
                </div>
                <div class="card card-preview">
                    <div class="card-inner">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" data-progress="75"
                                style="width: 75%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer-2.html" %}
</div>

{% endif %}
{% endblock %}