<style>
    .loader {
        margin: auto;
        top: 50%;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="modal fade" tabindex="-1" id="modalInstalling">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross"></em></a> -->
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <div class="loader"></div>
                    <h4 class="nk-modal-title">Setting up your private Olam ERP server. This will take approximately 15
                        minutes!</h4>
                    <div class="nk-modal-text">
                        <div class="caption-text">Installing...</div>
                        <span class="sub-text-sm">Once the installation is complete check your email for details on how to access your private server</span>
                    </div>
                    <div class="nk-modal-action">
                        <a href="/home" target="_blank" class="btn btn-lg btn-mw btn-primary">Learn
                            more about Olam</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p>You can close this page if you wish. Check your email after a couple of minutes for the link to
                        your private olam-erp server</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dv_modal-backdrop" class="modal-backdrop fade" style="display: none;"></div>