<!DOCTYPE html>
<html lang="zxx" class="js" style="box-sizing: border-box;">

<head style="box-sizing: border-box;">
    <base href="../" style="box-sizing: border-box;">
    <meta charset="utf-8" style="box-sizing: border-box;">
    <meta name="author" content="Arnold" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
        style="box-sizing: border-box;">
    <meta name="description" content="ERP, CRM, etc. Business tools to help your organization grow."
        style="box-sizing: border-box;">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="../static/images/favicon.png" style="box-sizing: border-box;">
    <!-- Page Title  -->
    <title style="box-sizing: border-box;"> Tools to Grow Your Business | Olam ERP </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body class="nk-body bg-white npc-default has-aside"
    style="box-sizing: border-box; font-family: 'IBM Plex Sans Arabic', sans-serif;">
    <div class="nk-app-root" style="box-sizing: border-box;">
        <!-- main @s -->
        <div class="nk-main " style="box-sizing: border-box;">
            <!-- wrap @s -->
            <div class="nk-wrap" style="box-sizing: border-box;">
                <div class="nk-content " style="box-sizing: border-box;">
                    <div class="container wide-xl" style="box-sizing: border-box;">
                        <div class="nk-content-inner" style="box-sizing: border-box;">
                            <table class="email-wraper"
                                style="box-sizing: border-box;border-collapse: collapse; width: 100%; background: #f5f6fa;">
                                <tr style="box-sizing: border-box;page-break-inside: avoid;">
                                    <td class="py-5"
                                        style="box-sizing: border-box;padding-top: 2.75rem !important;padding-bottom: 2.75rem !important;">
                                        <table class="email-header"
                                            style="box-sizing: border-box;border-collapse: collapse;width: 100%;max-width: 620px;margin: 0 auto;">
                                            <tbody style="box-sizing: border-box;">
                                                <tr style="box-sizing: border-box;page-break-inside: avoid;">
                                                    <td class="text-center pb-4"
                                                        style="box-sizing: border-box;padding-bottom: 1.5rem !important;text-align: center !important;">
                                                        <a href="{{url_for('main.index')}}" class="logo-link">
                                                            <img class="logo-light logo-img"
                                                                src="{{url_for('static', filename='images/logo.png')}}"
                                                                srcset="../static/images/logo2x.png 2x" alt="logo">
                                                            <img class="logo-dark logo-img"
                                                                src="{{url_for('static', filename='images/logo-dark.png')}}"
                                                                srcset="../static/images/logo-dark2x.png 2x"
                                                                alt="logo-dark">
                                                        </a>
                                                        <br><br>
                                                        <h1
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 0;font-family: 'IBM Plex Sans Arabic', sans-serif;font-weight: 600;line-height: 1.4;color: #6576ff;page-break-after: avoid;letter-spacing: -0.03em;orphans: 3;widows: 3;margin: 0;">
                                                            Server Activation</h1>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="email-body text-center"
                                            style="box-sizing: border-box;border-collapse: collapse;width: 96%;max-width: 620px;margin: 0 auto;background: #ffffff;text-align: center !important;">
                                            <tbody style="box-sizing: border-box;">
                                                <tr style="box-sizing: border-box;page-break-inside: avoid;">
                                                    <td class="px-3 px-sm-5 pb-2"
                                                        style="box-sizing: border-box;padding-bottom: .75rem !important;padding-right: 2.75rem !important;padding-left: 2.75rem !important;">
                                                        <p
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                                                        <h2><a href="https://{{domain_name}}.olam-erp.com"
                                                                style="cursor: pointer; box-sizing: border-box;color: #6576ff;text-decoration: underline;background-color: transparent;transition: color .4s, background-color .4s, border .4s, box-shadow .4s;word-break: break-all;">{{domain_name}}.olam-erp.com</a>
                                                        </h2>
                                                        has been created!
                                                        </p>
                                                        <p
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                                                            Please activate your server by clicking the link below.
                                                        </p>
                                                        <a href="{{ url_for('main.activate_server', token=token, _external=True) }}"
                                                            class="email-btn"
                                                            style="box-sizing: border-box;color: #ffffff !important;text-decoration: underline;background-color: transparent;transition: color .4s, background-color .4s, border .4s, box-shadow .4s;background: #6576ff;border-radius: 4px;display: inline-block;font-size: 13px;font-weight: 600;line-height: 44px;text-align: center;text-transform: capitalize;padding: 0 30px;word-break: break-all;">Activate
                                                            Server</a>
                                                    </td>
                                                </tr>
                                                <tr style="box-sizing: border-box;page-break-inside: avoid;">
                                                    <td class="px-3 px-sm-5 pt-4 pb-3 pb-sm-5"
                                                        style="box-sizing: border-box;padding-right: 2.75rem !important;padding-left: 2.75rem !important;padding-bottom: 2.75rem !important;padding-top: 1.5rem !important;">
                                                        <p
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                                                            Or copy/paste this link in your browser:</p>
                                                        <a href="{{ url_for('main.activate_server', token=token,
                                                        _external=True) }}"
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                                                            {{ url_for('main.activate_server', token=token,
                                                            _external=True) }}</a>
                                                        <br><br>
                                                        <p class="email-note"
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 0;orphans: 3;widows: 3;margin: 0;font-size: 13px;line-height: 22px;color: #8094ae;">
                                                            This is an automatically generated email
                                                            please do not
                                                            reply to this email. If you face any issues, please contact
                                                            us at
                                                            help@olam-erp.com</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="email-footer"
                                            style="box-sizing: border-box;border-collapse: collapse;width: 100%;max-width: 620px;margin: 0 auto;">
                                            <tbody style="box-sizing: border-box;">
                                                <tr style="box-sizing: border-box;page-break-inside: avoid;">
                                                    <td class="text-center pt-4"
                                                        style="box-sizing: border-box;padding-top: 1.5rem !important;text-align: center !important;">
                                                        <p class="email-copyright-text"
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;font-size: 13px;">
                                                            Copyright ©
                                                            <script style="box-sizing: border-box;">
                                                                document.getElementById("year").innerHTML = new Date().getFullYear();
                                                            </script> <a href="https://olam-erp.com"
                                                                style="box-sizing: border-box;color: #6576ff;text-decoration: underline;background-color: transparent;transition: color .4s, background-color .4s, border .4s, box-shadow .4s;word-break: break-all;">Olam
                                                                ERP</a>. All
                                                            rights
                                                            reserved.
                                                        </p>
                                                        <ul class="email-social">
                                                            <li><a href="#"><img
                                                                        src="{{url_for('static', filename='images/socials/facebook.png')}}"
                                                                        alt=""></a>
                                                            </li>
                                                            <li><a href="#"><img
                                                                        src="{{url_for('static', filename='images/socials/twitter.png')}}"
                                                                        alt=""></a></li>
                                                            <li><a href="#"><img
                                                                        src="{{url_for('static', filename='images/socials/youtube.png')}}"
                                                                        alt=""></a></li>
                                                            <li><a href="#"><img
                                                                        src="{{url_for('static', filename='images/socials/medium.png')}}"
                                                                        alt=""></a></li>
                                                        </ul>

                                                        <p class="fs-12px pt-4"
                                                            style="box-sizing: border-box;margin-top: 0;margin-bottom: 0;orphans: 3;widows: 3;font-size: 12px;padding-top: 1.5rem !important;">
                                                            This email was sent to you as a
                                                            registered member of
                                                            <a href="https://olam-erp.com"
                                                                style="box-sizing: border-box;color: #6576ff;text-decoration: underline;background-color: transparent;transition: color .4s, background-color .4s, border .4s, box-shadow .4s;word-break: break-all;">Olam
                                                                ERP</a>. To update your
                                                            emails
                                                            preferences <a href="#"
                                                                style="box-sizing: border-box;color: #6576ff;text-decoration: underline;background-color: transparent;transition: color .4s, background-color .4s, border .4s, box-shadow .4s;word-break: break-all;">click
                                                                here</a>.
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</body>


</html>