<div class="header-main header-main-s1 is-sticky is-transparent">
    <div class="container header-container">
        <div class="header-wrap">
            <div class="header-logo">
                {% include "logo.html" %}
            </div>
            <div class="header-toggle">
                <button class="menu-toggler" data-target="mainNav">
                    <em class="menu-on icon ni ni-menu"></em>
                    <em class="menu-off icon ni ni-cross"></em>
                </button>
            </div><!-- .header-nav-toggle -->
            <nav class="header-menu" data-content="mainNav">
                <ul class="menu-list ml-lg-auto">
                    <li class="menu-item has-sub">
                        {% if app_name %}
                        <a href="#" class="menu-link menu-toggle">{{app_name|capitalize}}</a>
                        {% else %}
                        <a href="#" class="menu-link menu-toggle">Apps</a>
                        {% endif %}
                        <div class="menu-sub">
                            <ul class="menu-list">
                                {% for moduleCategory in moduleCategories %}
                                <li class="menu-item has-sub">
                                    <a href="#" class="menu-link menu-toggle">{{moduleCategory.name}}</a>
                                    <div class="menu-sub">
                                        <ul class="menu-list">
                                            {% for module in modules %}
                                            {% if module.category_id == moduleCategory.id %}
                                            <li class="menu-item"><a
                                                    href="{{url_for('app.view', app_name=module.bp_name)}}"
                                                    class="menu-link">{% if
                                                    module.technical_name == 'crm'
                                                    %}{{module.technical_name|upper}}{% else
                                                    %}{{module.technical_name|title}}{%
                                                    endif %}</a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% if app_name == "accounting" %}
                    <li class="menu-item"><a href="{{url_for('app.view', app_name='accounting')}}"
                            class="menu-link nav-link">Overview</a>
                    </li>
                    {% endif %}
                    {% if app_name %}
                    <li class="menu-item"><a href="{{url_for('app.features', app_name=app_name)}}"
                            class="menu-link nav-link">Features</a>
                    </li>
                    {% endif %}
                    <li class="menu-item"><a href="{{ url_for('auth.login') }}" class="menu-link nav-link">Sign
                            in</a></li>
                </ul>
                <ul class="menu-btns">
                    <li>
                        <a href="{{url_for('main.contact_us')}}" class="btn btn-primary btn-lg">Contact Us</a>
                    </li>
                </ul>
            </nav><!-- .nk-nav-menu -->
        </div><!-- .header-warp-->
    </div><!-- .container-->
</div><!-- .header-main-->