<header class="header has-header-main-s1 bg-dark" id="home">
    <div class="header-main header-main-s1 is-sticky is-transparent on-dark">
        <div class="container header-container">
            <div class="header-wrap">
                <div class="header-logo">
                    {% include "logo.html" %}
                </div>
                <div class="header-toggle">
                    <button class="menu-toggler" data-target="mainNav">
                        <em class="menu-on icon ni ni-menu"></em>
                        <em class="menu-off icon ni ni-cross"></em>
                    </button>
                </div><!-- .header-nav-toggle -->
                <nav class="header-menu" data-content="mainNav">
                    <ul class="menu-list ml-lg-auto">
                        <li class="menu-item has-sub">
                            <a href="#" class="menu-link menu-toggle">Apps</a>
                            <div class="menu-sub">
                                <ul class="menu-list">
                                    {% for moduleCategory in moduleCategories %}
                                    <li class="menu-item has-sub">
                                        <a href="#" class="menu-link menu-toggle">{{moduleCategory.name}}</a>
                                        <div class="menu-sub">
                                            <ul class="menu-list">
                                                {% for module in modules %}
                                                {% if module.category_id == moduleCategory.id %}
                                                <li class="menu-item">
                                                    <a href="{{url_for('app.view', app_name=module.bp_name)}}"
                                                        class="menu-link">
                                                        {% if module.technical_name == 'crm' %}
                                                        {{module.technical_name|upper}}
                                                        {% else %}
                                                        {{module.technical_name|title}}
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item"><a href="{{ url_for('auth.login') }}" class="menu-link nav-link">Sign
                                in</a></li>
                    </ul>
                    <ul class="menu-btns">
                        <li>
                            <a href="{{url_for('main.contact_us')}}" class="btn btn-primary btn-lg">Contact Us</a>
                        </li>
                    </ul>
                </nav><!-- .nk-nav-menu -->
            </div><!-- .header-warp-->
        </div><!-- .container-->
    </div><!-- .header-main-->
    {% if title == 'Tools to Grow Your Business | Olam ERP' %}
    <div class="header-content my-auto py-6 is-dark">
        <div class="container mt-n4 mt-lg-0">
            <div class="row flex-lg-row-reverse align-items-center justify-content-between g-gs">
                <div class="col-lg-12">
                    <div class="header-caption">
                        <h1 class="header-title fw-medium">Your business deserves amazing software</h1>
                        <div class="header-text">
                            <p>Olam ERP helps you to run your business: integrated apps, simple to use, you'll love it!
                            </p>
                        </div>
                        <ul class="header-action btns-inline">
                            <li><a href="{{url_for('main.contact_us')}}"
                                    class="btn btn-primary btn-lg btn-round"><span>Contact Us</span></a></li>
                            <li><a href="#" class="btn btn-secondary btn-lg btn-round"><span>Schedule a demo</span></a>
                            </li>
                        </ul>
                    </div><!-- .header-caption -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .header-content -->
    <div class="bg-image bg-overlay after-bg-dark after-opacity-95">
        <img src="{{url_for('static', filename='images/bg/wallpaper-home.jpg')}}" alt="">
    </div>
    {% endif %}
</header><!-- .header -->