<div class="header-main header-main-s1 is-sticky is-transparent">
    <div class="container header-container">
        <div class="header-wrap">
            <div class="header-logo">
                <a href="{{url_for('main.index')}}" class="logo-link">
                    <img class="logo-light logo-img" src="{{url_for('static', filename='images/olamerp.png')}}"
                        srcset="../static/images/olamerp2x.png 2x" alt="logo">
                    <img class="logo-dark logo-img" src="{{url_for('static', filename='images/olamerp-dark.png')}}"
                        srcset="../static/images/olamerp-dark2x.png 2x" alt="logo-dark">
                </a>
            </div>
            <div class="header-toggle">
                <button class="menu-toggler" data-target="mainNav">
                    <em class="menu-on icon ni ni-menu"></em>
                    <em class="menu-off icon ni ni-cross"></em>
                </button>
            </div><!-- .header-nav-toggle -->
            <nav class="header-menu" data-content="mainNav">
                <ul class="menu-list ml-lg-auto">
                    <li class="menu-item has-sub">
                        {% if app_name %}
                        <a href="#" class="menu-link menu-toggle">{{app_name}}</a>
                        {% else %}
                        <a href="#" class="menu-link menu-toggle">Apps</a>
                        {% endif %}
                        <div class="menu-sub">
                            <ul class="menu-list">
                                <li class="menu-item has-sub">
                                    <a href="#" class="menu-link menu-toggle">Finance</a>
                                    <div class="menu-sub">
                                        <ul class="menu-list">
                                            <li class="menu-item"><a href="{{url_for('app.accounting')}}"
                                                    class="menu-link">Accounting</a>
                                            </li>
                                            <li class="menu-item"><a href="#" class="menu-link">Invoicing</a></li>
                                            <li class="menu-item"><a href="#" class="menu-link">Expenses</a></li>
                                            <li class="menu-item"><a href="#" class="menu-link">Documents</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item has-sub">
                                    <a href="#" class="menu-link menu-toggle">Sales</a>
                                    <div class="menu-sub">
                                        <ul class="menu-list">
                                            <li class="menu-item"><a href="#" target="_blank" class="menu-link">CRM</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Sales</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank" class="menu-link">Point
                                                    of Sale</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Subscriptions</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Rental</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item has-sub">
                                    <a href="#" class="menu-link menu-toggle">Inventory</a>
                                    <div class="menu-sub">
                                        <ul class="menu-list">
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Inventory</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Purchase</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item has-sub">
                                    <a href="#" class="menu-link menu-toggle">Human Resources</a>
                                    <div class="menu-sub">
                                        <ul class="menu-list">
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Employees</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Recruitment</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank" class="menu-link">Time
                                                    Off</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Appraisals</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Referrals</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Fleet</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item has-sub">
                                    <a href="#" class="menu-link menu-toggle">Services</a>
                                    <div class="menu-sub">
                                        <ul class="menu-list">
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Project</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Timesheet</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank" class="menu-link">Field
                                                    Service</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Helpdesk</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Planning</a>
                                            </li>
                                            <li class="menu-item"><a href="#" target="_blank"
                                                    class="menu-link">Appointments</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% if app_name == "Accounting" %}
                    <li class="menu-item"><a href="{{url_for('app.accounting')}}"
                            class="menu-link nav-link">Overview</a>
                    </li>
                    <li class="menu-item"><a href="/app/accounting/features" class="menu-link nav-link">Features</a>
                    </li>
                    {% endif %}
                    <li class="menu-item"><a href="{{ url_for('auth.login') }}" class="menu-link nav-link">Sign
                            in</a></li>
                </ul>
                <ul class="menu-btns">
                    <li>
                        <a href="{{url_for('main.contact_us')}}" class="btn btn-primary btn-lg">Contact Us</a>
                    </li>
                </ul>
            </nav><!-- .nk-nav-menu -->
        </div><!-- .header-warp-->
    </div><!-- .container-->
</div><!-- .header-main-->