{% extends "base.html" %}

{% block content %}

<body class="nk-body bg-white npc-landing ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            {% include "header.html" %}
            <section class="section section-service pb-0" id="feature">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-7 col-md-8">
                            <div class="section-head">
                                <h2 class="title text-dark">An app for every need</h2>
                            </div><!-- .section-head -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                    <div class="section-content">
                        <div class="row gy-gs justify-content-center text-center">
                            <div class="col-mb-6 col-lg-4">
                                <a href="">
                                    <div class="card card-full service service-s4 after-bg-info">
                                        <div class="card-inner">
                                            <div class="service-icon styled-icon styled-icon-6x text-info">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                                                    <rect x="5" y="7" width="60" height="56" rx="7" ry="7"
                                                        fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <rect x="25" y="27" width="60" height="56" rx="7" ry="7"
                                                        fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <rect x="15" y="17" width="60" height="56" rx="7" ry="7" fill="#fff"
                                                        stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="15" y1="29" x2="75" y2="29" fill="none" stroke="#6576ff"
                                                        stroke-miterlimit="10" stroke-width="2" />
                                                    <circle cx="53" cy="23" r="2" fill="#c4cefe" />
                                                    <circle cx="60" cy="23" r="2" fill="#c4cefe" />
                                                    <circle cx="67" cy="23" r="2" fill="#c4cefe" />
                                                    <rect x="22" y="39" width="20" height="20" rx="2" ry="2" fill="none"
                                                        stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <circle cx="32" cy="45.81" r="2" fill="none" stroke="#6576ff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <path d="M29,54.31a3,3,0,0,1,6,0" fill="none" stroke="#6576ff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="49" y1="40" x2="69" y2="40" fill="none" stroke="#6576ff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="49" y1="51" x2="69" y2="51" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="49" y1="57" x2="59" y2="57" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="64" y1="57" x2="66" y2="57" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="49" y1="46" x2="59" y2="46" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="64" y1="46" x2="66" y2="46" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                </svg>
                                            </div>
                                            <div class="service-text">
                                                <h5 class="title text-dark">CRM</h5>
                                                <p>Track leads, close opportunities and get accurate forecasts.</p>
                                            </div>
                                        </div>
                                    </div><!-- .service -->
                                </a>
                            </div><!-- .col -->
                            <div class="col-mb-6 col-lg-4">
                                <a href="">
                                    <div class="card card-full service service-s4">
                                        <div class="card-inner">
                                            <div class="service-icon styled-icon styled-icon-6x text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                                                    <rect x="7" y="10" width="76" height="50" rx="7" ry="7" fill="#fff"
                                                        stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <rect x="32" y="69" width="28" height="7" rx="1.5" ry="1.5"
                                                        fill="none" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="40" y1="60" x2="40" y2="69" fill="none" stroke="#6576ff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="52" y1="60" x2="52" y2="69" fill="none" stroke="#6576ff"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="42" y1="24" x2="70" y2="24" fill="#c4cefe"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="42" y1="30" x2="70" y2="30" fill="#c4cefe"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="42" y1="36" x2="70" y2="36" fill="#c4cefe"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <rect x="24" y="23" width="12" height="14" fill="none"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <rect x="69" y="50" width="18" height="30" rx="3" ry="3"
                                                        fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="78.09" y1="75.56" x2="78.09" y2="75.56" fill="none"
                                                        stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <rect x="3" y="46" width="24" height="34" rx="3" ry="3"
                                                        fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="14.69" y1="76.66" x2="14.69" y2="76.66" fill="none"
                                                        stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="13.5" y1="49.5" x2="16.5" y2="49.5" fill="none"
                                                        stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                    <line x1="3.5" y1="73.5" x2="26.5" y2="73.5" fill="none"
                                                        stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                            <div class="service-text">
                                                <h5 class="title text-dark">POS</h5>
                                                <p>User-friendly Point of Sale.</p>
                                            </div>
                                        </div><!-- .service -->
                                    </div>
                                </a>
                            </div><!-- .col- -->
                            <div class="col-mb-6 col-lg-4">
                                <a href="">
                                    <div class="card card-full service service-s4 after-bg-danger">
                                        <div class="card-inner">
                                            <div class="service-icon styled-icon styled-icon-6x text-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                                                    <rect x="12" y="5" width="55" height="68" rx="6" ry="6"
                                                        fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <path
                                                        d="M78,15.8l-5.72,6.33L66.7,16l-5.33,5.91-5.82-6.46L49.67,22,44.13,15.8l-5.49,6.09L33,15.62,27.27,22l-6.16-6.83L21,15V79c0,3.33,2.43,6,5.43,6H72.57c3,0,5.43-2.69,5.43-6V15.76S77.94,15.79,78,15.8Z"
                                                        fill="#fff" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <circle cx="49.5" cy="35.5" r="2.5" fill="#c4cefe" stroke="#c4cefe"
                                                        stroke-miterlimit="10" stroke-width="2" />
                                                    <line x1="71" y1="50" x2="28" y2="49.86" fill="none"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="71" y1="56" x2="28" y2="55.86" fill="none"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="71" y1="61" x2="28" y2="60.86" fill="none"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="28" y1="45" x2="38" y2="45" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="61" y1="45" x2="71" y2="45" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="28" y1="76" x2="41" y2="76" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="61" y1="76" x2="69" y2="76" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="59" y1="66" x2="69" y2="66" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                </svg>
                                            </div>
                                            <div class="service-text">
                                                <h5 class="title text-dark">Sales</h5>
                                                <p>Send polished quotations.</p>
                                            </div>
                                        </div>
                                    </div><!-- .service -->
                                </a>
                            </div><!-- .col -->
                            <div class="col-mb-6 col-lg-4">
                                <a href="">
                                    <div class="card card-full service service-s4 after-bg-info">
                                        <div class="card-inner">
                                            <div class="service-icon styled-icon styled-icon-6x text-info">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                                                    <path d="M68.14,80.86,30.21,72.69a5.93,5.93,0,0,1-4.57-7l12.26-56A6,6,0,0,1,45,5.14l28.18,6.07L85.5,29.51,75.24,76.33A6,6,0,0,1,68.14,80.86Z" fill="#eff1ff" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <polyline points="73 12.18 69.83 26.66 85.37 30.08" fill="#eff1ff" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <path d="M66.26,71.15,29.05,82.46a6,6,0,0,1-7.46-4L4.76,23.15a6,6,0,0,1,4-7.47l27.64-8.4L56.16,17.39,70.24,63.68A6,6,0,0,1,66.26,71.15Z" fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <polyline points="36.7 8.22 41.05 22.53 56.33 17.96" fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <path d="M68,85H29a6,6,0,0,1-6-6V21a6,6,0,0,1,6-6H58L74,30.47V79A6,6,0,0,1,68,85Z" fill="#fff" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <polyline points="58 16 58 31 74 31.07" fill="#fff" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="45" y1="41" x2="61" y2="41" fill="none" stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="35" y1="48" x2="61" y2="48" fill="none" stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="35" y1="55" x2="61" y2="55" fill="none" stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="35" y1="63" x2="61" y2="63" fill="none" stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="35" y1="69" x2="51" y2="69" fill="none" stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><text transform="translate(34.54 43.18) scale(0.99 1)" font-size="9.31" fill="#6576ff" font-family="Nunito-Black, Nunito Black">$</text>
                                                </svg>
                                            </div>
                                            <div class="service-text">
                                                <h5 class="title text-dark">Invoicing</h5>
                                                <p>Manage contracts, create recurring invoices, bill timesheets, get paid faster.</p>
                                            </div>
                                        </div>
                                    </div><!-- .service -->
                                </a>
                            </div><!-- .col -->
                            <div class="col-mb-6 col-lg-4">
                                <a href="{{url_for('app.accounting')}}">
                                    <div class="card card-full service service-s4">
                                        <div class="card-inner">
                                            <div class="service-icon styled-icon styled-icon-6x text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                                                    <rect x="14.5" y="5" width="56" height="70" rx="6" ry="6" fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <path d="M69.38,85H29.62a6.06,6.06,0,0,1-6.12-6V21a6.06,6.06,0,0,1,6.12-6H59.16L75.5,30.47V79A6.06,6.06,0,0,1,69.38,85Z" fill="#fff" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <polyline points="59.5 16 59.5 31 74.5 31.07" fill="none" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <rect x="34.5" y="40" width="30" height="30" fill="#f5f7ff" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="34.5" y1="48" x2="63.5" y2="48" fill="none" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="45.5" y1="70" x2="45.5" y2="40" fill="none" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="34.5" y1="56" x2="63.5" y2="56" fill="none" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                    <line x1="34.5" y1="64" x2="63.5" y2="64" fill="none" stroke="#6576ff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                                </svg>
                                            </div>
                                            <div class="service-text">
                                                <h5 class="title text-dark">Accounting</h5>
                                                <p>Your accounting done right. Do more, in less time.</p>
                                            </div>
                                        </div><!-- .service -->
                                    </div>
                                </a>
                            </div><!-- .col- -->
                            <div class="col-mb-6 col-lg-4">
                                <a href="">
                                    <div class="card card-full service service-s4 after-bg-danger">
                                        <div class="card-inner">
                                            <div class="service-icon styled-icon styled-icon-6x text-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                                                    <rect x="12" y="5" width="55" height="68" rx="6" ry="6"
                                                        fill="#e3e7fe" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <path
                                                        d="M78,15.8l-5.72,6.33L66.7,16l-5.33,5.91-5.82-6.46L49.67,22,44.13,15.8l-5.49,6.09L33,15.62,27.27,22l-6.16-6.83L21,15V79c0,3.33,2.43,6,5.43,6H72.57c3,0,5.43-2.69,5.43-6V15.76S77.94,15.79,78,15.8Z"
                                                        fill="#fff" stroke="#6576ff" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" />
                                                    <circle cx="49.5" cy="35.5" r="2.5" fill="#c4cefe" stroke="#c4cefe"
                                                        stroke-miterlimit="10" stroke-width="2" />
                                                    <line x1="71" y1="50" x2="28" y2="49.86" fill="none"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="71" y1="56" x2="28" y2="55.86" fill="none"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="71" y1="61" x2="28" y2="60.86" fill="none"
                                                        stroke="#c4cefe" stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="28" y1="45" x2="38" y2="45" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="61" y1="45" x2="71" y2="45" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="28" y1="76" x2="41" y2="76" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="61" y1="76" x2="69" y2="76" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                    <line x1="59" y1="66" x2="69" y2="66" fill="none" stroke="#c4cefe"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" />
                                                </svg>
                                            </div>
                                            <div class="service-text">
                                                <h5 class="title text-dark">Sales</h5>
                                                <p>Send polished quotations.</p>
                                            </div>
                                        </div>
                                    </div><!-- .service -->
                                </a>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div>
                    <ul class="btns-inline justify-center pt-2">
                        <li>
                            <a href="#" class="btn btn-xl btn-primary btn-round">...explore other apps</a>
                        </li>
                    </ul>
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section section-cta is-dark mt-5" id="cta">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-9 col-md-10">
                            <div class="text-block is-compact py-3">
                                <h2 class="title">Unleash your business' growth potential</h2>
                                <p>No credit card required - Instant access</p>
                                <ul class="btns-inline justify-center pt-2">
                                    <li>
                                        <a href="{{url_for('main.contact_us')}}" class="btn btn-xl btn-primary btn-round">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
                <div class="bg-image bg-overlay after-bg-dark after-opacity-90">
                    <img src="{{url_for('static', filename='images/bg/b.jpg')}}" alt="">
                </div>
            </section><!-- .section -->
            {% include "footer.html" %}
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    {% include "scripts.html" %}
</body>
{% endblock %}